.Wrapper {
	border-top: 1px solid #bae5fd;
	margin-top: auto;
	flex: 0 1 auto;
	position: relative;
	z-index: 100;

	@include ifmobile {
		display: none;
	}
}

.Container {
	width: 100%;
	max-width: em(1200px);
	margin: 0 auto;

	@include iflaptop {
		max-width: em(863px);
	}

	@include iftablet {
		max-width: em(735px);
	}
}

.Footer {
	padding: em(28px) 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	&_Link {
		font-weight: 400;
		font-size: em(12px);
		line-height: 133%;
		color: $blue-800;
	}
}
