$font-Avenir: 'Avenir Next', sans-serif;

$speed: 0.3s;
$navbar-height: 76px;
$top-padding: calc($navbar-height + 105px);

$body: #f2f7ff;
$black: #000000;
$white: #ffffff;
$blue-500: #0da2e7;
$blue-50: #f0f9ff;
$blue-600: #0284c5;
$blue-800: #075783;

$grey: rgba(26, 26, 26, 0.7);
