.SuccessfulAuth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	padding-left: em(80px);

	@include iflaptop {
		padding-left: 0;
	}

	@include iftablet {
		padding-left: 0;
		align-items: center;
	}

	@include ifmobile {
		padding-left: 0;
		align-items: center;
	}
}

.Form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: em(485px);
	background: #f8fafc;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: em(4px);
	padding: em(30px);
	@include iflaptop {
		margin: 0 auto;
	}
	@include iftablet {
		margin: 0 auto;
		margin-top: em(30px);
		margin-bottom: em(30px);
	}

	@include ifmobile {
		padding: em(20px);
		margin-top: em(30px);
		margin-bottom: em(30px);
	}

	&_Image {
		width: em(155px);
		height: em(112px);
		background: #eaeef2;
		border-radius: 100px/70px;
		margin-bottom: em(16px);
	}

	&_Title {
		margin-bottom: em(16px);
		text-align: center;
		span {
			font-weight: 500;
			font-size: em(20px);
			line-height: 160%;
			color: $black;
		}
	}

	&_Subtitle {
		margin-bottom: em(36px);
		span {
			font-weight: 400;
			font-size: em(16px);
			line-height: 150%;
			color: $black;
		}
	}

	&_Button {
		width: 100%;
	}

	&_Button1 {
		margin-bottom: em(20px);
	}
}
