//general
.Button {
	font-size: 100%;
	width: auto;
	height: em(44px);
	border-radius: em(4px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: em(8px) em(24px);
	@extend %button;
	border: 1px solid #d1d5db;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);

	.Title {
		display: flex;
		font-size: em(16px);
		font-weight: 600;
		line-height: 100%;
		color: $black;
		font-family: $Avenir;
	}
}

//disabled style
.Button:disabled,
.Button:disabled:hover,
.Button:disabled:active {
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.4;
}

//white
.Button_white {
	background: $white;

	.Title {
		color: $blue-600;
	}
	&:hover {
		border: 1px solid #0284c5;
	}

	&:active {
		background: #f0f9ff;
	}
}

//blue
.Button_blue {
	background: $blue-600;

	.Title {
		color: $white;
	}
	&:hover {
		background: $blue-500;
	}

	&:active {
		background: $blue-700;
	}
}

//red
.Button_red {
	background: $white;
	border: 1px solid #fd6b6b;

	.Title {
		color: rgba(26, 26, 26, 0.8);
	}
	&:hover {
		background: #fef1f1;
		border: 1px solid #ef4343;
	}

	&:active {
		background: #fee1e1;
		border: 1px solid #dc2828;
	}
}
