//general
.Button {
	font-size: 100%;
	width: auto;
	height: em(58px);
	border-radius: em(4px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: em(13px) em(24px);

	@extend %button;
	@include ifmobile {
		height: em(44px);
	}

	.Title {
		display: flex;
		font-size: em(20px);
		font-weight: 600;
		line-height: 100%;
		color: $white;
		font-family: 'Montserrat', sans-serif;
		@include ifmobile {
			font-size: em(16px);
		}
	}
}

//disabled style
.Button:disabled,
.Button:disabled:hover,
.Button:disabled:active {
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.4;
}

//empty
.Button_empty {
	background: none;
	border: 1px solid $white;
	box-sizing: border-box;
	&:hover {
		border-width: 2px;
	}

	&:active {
	}
}

//orange
.Button_orange {
	// background: $orange;
	// border: 1px solid $orange;
	&:hover {
		background: #967e2f;
	}

	&:active {
		background: #c2a239;
	}
}

//white
.Button_white {
	background: $white;

	.Title {
		// color: $blue;
	}
	&:hover {
		background: rgba(255, 255, 255, 0.7);
		box-shadow: 3px 3px 9px rgba(81, 151, 219, 0.4);
	}

	&:active {
		background: rgba(255, 255, 255, 0.4);
		box-shadow: 3px 3px 9px rgba(81, 151, 219, 0.4);
	}
}
