.BaseContainer {
	height: 100%;
}

.UserProjects {
	height: 100%;
}

.Empty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	padding: em(40px) 0;

	&_Image {
		width: em(623px);
		height: em(246px);
		margin-bottom: em(30px);
	}

	&_Title {
		margin-bottom: em(8px);
		span {
			font-weight: 500;
			font-size: em(24px);
			line-height: 142%;
			color: rgba(26, 26, 26, 0.8);
		}
	}

	&_Subtitle {
		margin-bottom: em(32px);
		span {
			font-weight: 400;
			font-size: em(20px);
			line-height: 160%;
			text-align: center;
			color: rgba(26, 26, 26, 0.8);
		}
	}
}

.Projects {
	width: 100%;
	padding-top: em(40px);
	padding-bottom: em(40px);

	&_Navbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: em(30px);

		@include ifmobile {
			flex-wrap: wrap;
		}

		&_Tabs {
			display: flex;
			flex-direction: row;
			@include ifmobile {
				margin-bottom: em(30px);
			}

			.TabItem {
				padding-bottom: em(4px);
				cursor: pointer;
				list-style: none;
				position: relative;
				margin-right: em(32px);

				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 2px;
					background: #2e3c8d;
					opacity: 0;
					transition: 0.5s;
				}
				&:last-child {
					margin-right: 0;
				}

				span {
					display: flex;
					font-weight: 500;
					font-size: em(18px);
					line-height: 167%;
					color: $black;
					white-space: nowrap;
				}

				&.Active {
					&:before {
						opacity: 1;
					}
					span {
						color: $black;
					}
				}
			}
		}

		&_Button {
			@include ifmobile {
				width: 100%;
			}
			svg {
				path {
					stroke: $white;
				}
			}
		}
	}

	&_List {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: em(20px) em(30px);
		margin-bottom: em(30px);

		@include ifmobile {
			grid-template-columns: 1fr;
			gap: em(30px) 0;
		}
	}

	&_Button {
		margin: 0 auto;
		margin-top: em(30px);
	}
}
