.Wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	position: relative;
	background-image: url('/images/image/main-bg.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top right;
}

.Content {
	display: flex;
	flex: 1 0 auto;
	overflow: auto;
	flex-direction: column;
	position: relative;
	z-index: 10;
}

.Image {
	position: absolute;
	z-index: 9;
	top: 0;
	right: 0;
	width: em(1082px);
	height: em(1024px);

	// @include iflaptop {
	// 	top: em(-80px);
	// 	right: em(-459px);
	// 	width: em(1191px);
	// 	height: em(1127px);
	// }
	// @include iftablet {
	// 	top: em(-50px);
	// 	right: em(-392px);
	// 	width: em(880px);
	// 	height: em(833px);
	// }
	// @include ifmobile {
	// 	top: em(-10px);
	// 	right: em(-235px);
	// 	width: em(436px);
	// 	height: em(413px);
	// }
}

.App {
	background-image: none;
	height: 100vh;
	min-height: initial;
	overflow: initial;
	padding-bottom: em(85px);
	display: block;

	@include iflaptop {
		padding-bottom: em(63px);
	}
	@include iftablet {
		padding-bottom: em(63px);
	}
	@include ifmobile {
		padding-bottom: em(60px);
	}

	.Content {
		height: 100%;
		overflow: auto;
		position: relative;
	}
}
