.Header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: em(490px);
	margin-bottom: em(30px);

	@include ifmobile {
		max-width: em(270px);
	}

	&_ClearAll {
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		&:hover {
			.Header_ClearAll_Title {
				text-decoration: underline;
			}
		}

		&_Title {
			font-size: em(16px);
			color: red;
		}

		&_Icon {
			width: em(20px);
			height: em(20px);
			margin-left: em(10px);

			path {
				stroke: red;
			}
		}
	}
}

.Content {
	height: em(440px);
	margin-bottom: em(32px);
	//убрать overflow: hidden; и сдлеать логику пагинации
	overflow: hidden;
}

.Pagination {
	display: flex;
	justify-content: center;
	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		li {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
			cursor: pointer;
			border-radius: 50%;
			margin-right: em(8px);
			&:hover {
				background: #eceef9;
			}

			&:first-child,
			&:last-child {
				background: none !important;
			}
		}
		li a {
			font-weight: 500;
			font-size: em(12px);
			line-height: 100%;
			color: rgba(26, 26, 26, 0.7);
		}

		.NextIcon,
		.PrevIcon {
			width: em(24px);
			height: em(24px);
		}
		.NextIcon {
			transform: rotate(-90deg);
			margin-left: em(8px);
		}
		.PrevIcon {
			transform: rotate(90deg);
			margin-right: em(8px);
		}
	}
}
